body {
    background: #16A085; /* compatibility */
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}
@font-face {
    font-family: 'Cantarell';
    src: url('fonts/Cantarell.ttf');
}
@font-face {
    font-family: 'Ostrich';
    src: url('fonts/Ostrich.ttf');
}
@font-face {
    font-family: 'Josefin';
    src: url('fonts/JosefinSans.ttf');
}

#gradient {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #836997;
}

#bg-ol {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transition: background-color 1s ease;
	background-color: rgba(0,0,0,0.15);
}
#bg-ol.white {
    background-color: rgba(255,255,255,0.15);
}

#logo {
	background-color:#EDEEDC;
	float: left;
	position: relative;
	width:23.23%;
	box-shadow: 0 1px 1px 0 #000000;
	z-index: 5;
}

header {
    background-color: #252525;
	width:76.77%;
	margin:0 0 0 23.23%;
	height:48px;
    color:white;
	position: relative;
	box-shadow: 0 1px 1px 0 #000000;
	z-index: 3;
}
.tagline {
    display:inline-block;
    line-spacing: 0;
}

h1 {
    color: black;
	padding:13px 20px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	font-family: Ostrich;
	font-style: normal; /*removing h1 default values*/
	font-weight: normal; /*removing h1 default values*/
	font-size: 2.67vw;
	letter-spacing:7px;
	text-align: center;
}

h2 {
    color:#D2D2D2;
	padding:13px;
	margin:0px;
	font-family: Josefin;
	font-style: normal; /*removing h1 default values*/
	font-weight: normal; /*removing h1 default values*/
	font-size:1em;
	float:left;
}

#sites {
    width: 100%;
    height: 73%;
    position: absolute;
    bottom: 0;
}
.site {
    padding: 1%;
    position: absolute;
    bottom: 0;
    margin-left: 2%;
    width: 28%;
    height: 50%;
    background-color: #252525;
    box-shadow: 2px 1px 1px 0 #000000;
    -webkit-transition: height 0.75s; /* Safari */
    transition: height 0.75s;
}
.site:hover {
    height: 100%;
}
#site2 {
    margin-left:35%;
}
#site3 {
    margin-left:68%;
}
.thumbnail {
    width: 100%;
    max-width: 100%;
    height: auto;
    -webkit-filter: brightness(100%);
    -webkit-transition: 1.5s ease;
    -moz-transition: 1.5s ease;
    -o-transition: 1.5s ease;
    -ms-transition: 1.5s ease;
    transition: 1.5s ease;
}
.brighten {
    -webkit-filter: brightness(115%);
}
.arrow-wrap {
    margin: -2% 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-angle-double-up {
    color: white;
}
.fa-angle-double-down {
    color: white;
}
.languages {
    padding: 0;
    display: inline-block;
    text-align: center;
}
img.lang-img {
    display: inline-block;
    margin: 0 5px;
    width: 45%;
    height: auto;
    padding: 0;
}
img.gsap {
    display: inline-block;
    margin: 0 5px;
    width: auto;
    padding: 0;
}
.descr {
    padding: 0;
    margin: 5px;
    display: block;
    position: relative;
    width: 100%;
    height: 17%;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.descr-text {
    font-family: Josefin;
    font-size: 1.25em;
    text-align: center;
}

#network {
    width: 100%;
    height: 50%;
    position: absolute;
    right: 0;
}
.netw {
    padding: 1%;
    position: fixed;
    top: -64px;
    right: 32px;
    margin: 96px 0;
    height: 96px;
    width: 96px;
    background-color: #252525;
    border-radius: 50% 50%;
    box-shadow: 0 1px 1px 0 #000000;
    -webkit-transition: 0.75s;
    transition: 0.75s;
}
.netw:hover {
    top: -16px;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
#cp {
    height: 100%;
    border-radius: 50% 50%;
    background-image: url("images/cp.svg");
    background-color: #252525;
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
}

/* --- GH HOVER ---*/

/* Icon Forward */
.icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.icon-forward:before {
  content: "\f138";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.icon-forward:hover:before, icon-forward:focus:before, icon-forward:active:before {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}
#gh {
    position: absolute;
    top: 16px;
    right: 16px;
    font-family: Josefin;
    font-style: normal; /*removing h1 default values*/
    font-weight: normal; /*removing h1 default values*/
    font-size:1em;
    display: inline-block;
}
header>a {
    text-decoration: none;
    color: white;
}
header>a:hover {
    color: #D7D7D7;
}


/* --- easter egg --- */

#cricri {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=95);
    -moz-opacity:0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
    z-index: 10000;
    display: none;
}
.cricri {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
    z-index: 10000;
    display: none;
}

/* --- PRE-LOADER (cf. style.js)--- */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 3px solid transparent;
    border-top-color: #ABAAAA;
    z-index: 1500;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
	-webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: #808080;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
	-webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #565656;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #252525;
    z-index: 1000;
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transition: all 0.3s 0.3s ease-out; 
            transition: all 0.3s 0.3s ease-out;
}
.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.3s 0.6s ease-out; 
                transition: all 0.3s 0.6s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;
}

/* and in case js isn't enabled... */
.no-js #loader-wrapper {
    display: none;
}