body {
    background: #252525; /* compatibility */
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    height: 100%;
    width: 100%;
    min-width: 440px;
}
@font-face {
    font-family: 'Cantarell';
    src: url('fonts/Cantarell.ttf');
}
@font-face {
    font-family: 'Ostrich';
    src: url('fonts/Ostrich.ttf');
}
@font-face {
    font-family: 'Josefin';
    src: url('fonts/JosefinSans.ttf');
}

#gradient {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #836997;
}

#bg-ol {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transition: background-color 1s ease;
	background-color: rgba(0,0,0,0.15);
}
#bg-ol.white {
    background-color: rgba(255,255,255,0.15);
}
#logo {
  background-color:#EDEEDC;
  float: left;
  position: relative;
  white-space: nowrap;
  box-shadow: 0 1px 1px 0 #000000;
  z-index: 5;
  height: 48px;
  line-height: 32px;
  box-sizing: border-box;
  z-index: 100;
}
#badge {
  color: white;
  font-size: 16px;
  padding: 0 8px;
  position: absolute;
  top: 0px;
  height: 64px;
  width: 168px;
  margin: -8px 8px 0;
  background-color: #252525;
  border-radius: 0 0 .5em .5em;
  transition: top .3s ease;
  z-index: 99;
}
a.btn:link, a.btn:visited {
    position: relative;
    display: block;
    color: white;
    margin: 16px auto;
    padding: 8px;
    font-size:14px;
    border-radius: 1em;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    letter-spacing: .05em;
    transition: all 1s ease;
}
a.btn:link:after, a.btn:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: 1;
    transition: all 0.75s ease 0s;
}
a.btn:hover {
    cursor: pointer;
}
a.btn.sfx {
    border: 2px solid #885b96;
    color: #FFF;
    transition: letter-spacing .3s ease;
}
a.btn.sfx:hover {
  letter-spacing: .08em;
}
a.btn.sfx:after {
    background-image: -webkit-linear-gradient( transparent 50%, rgba(136, 91, 150,0.2) 50%);
    background-image: -moz-linear-gradient(transparent 50%, rgba(136, 91, 150,0.2) 50%);
    background-size: 6px 6px;
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    opacity: 0;
}
a.btn.sfx:hover:after {
    height: 600%;
    opacity: 1;
}

header {
    background-color: #252525;
	width:100%;
	margin:0;
	height:48px;
    line-height: 24px;
    color:white;
	position: relative;
	box-shadow: 0 1px 1px 0 #000000;
	z-index: 3;
}
#fewd {
    max-width: 48%;
}
#github {
    max-width: 25%;
}
.tagline {
    display:inline-block;
    line-spacing: 0;
}

h1 {
    color: black;
	padding: 8.5px 16px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	font-family: Ostrich;
	font-style: normal; /*removing h1 default values*/
	font-weight: normal; /*removing h1 default values*/
	font-size: 24px;
	letter-spacing: 6px;
	text-align: center;
}

h2 {
    color:#D2D2D2;
	padding:13px;
	margin:0px;
	font-family: Josefin;
	font-style: normal; /*removing h1 default values*/
	font-weight: normal; /*removing h1 default values*/
	font-size:1em;
	float:left;
}
.mbusson {
    vertical-align: middle;
}

#sites {
    width: 100%;
    height: 73%;
    position: absolute;
    bottom: 0;
}
#sites a {
    outline: 0;
}
.site {
    padding: 1%;
    position: absolute;
    bottom: 0;
    margin-left: 2%;
    width: 28%;
    max-height: 70%;
    background-color: #252525;
    box-shadow: 2px 1px 1px 0 #000000;
    -webkit-transition: height 0.75s; /* Safari */
    transition: max-height 0.75s;
}
.site:hover {
    max-height: 115%;
}
#site2 {
    margin-left:35%;
}
#site3 {
    margin-left:68%;
}
.thumbnail {
    width: 100%;
    max-width: 100%;
    height: auto;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    -webkit-filter: brightness(100%);
    -webkit-transition: 1.5s ease;
    -moz-transition: 1.5s ease;
    -o-transition: 1.5s ease;
    -ms-transition: 1.5s ease;
    transition: 1.5s ease;
}
.brighten {
    -webkit-filter: brightness(110%);
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}
.arrow-wrap {
    margin: -2% 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vert-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.fa-angle-double-up {
    color: white;
}
.fa-angle-double-down {
    color: white;
}
.using {
    display: block;
    margin-bottom: 3em;
}
.using h2 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.1em;
    background-color: rgba(160,160,160,0.25);
    white-space: nowrap;
    border-radius: 0.3em;
    padding: 0.3em;
}
.languages {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
}
img.lang-img {
    vertical-align:middle;
    margin: 0 5px;
    max-width: 10vw;
    height: auto;
    padding: 0;
}
img.gsap {
    vertical-align:middle;
    margin: 0 5px;
    max-width: 4vw;
    width: auto;
    height: auto;
    padding: 0;
}
img.jq {
    vertical-align:middle;
    margin: 0 5px;
    max-width: 4.5vw;
    width: auto;
    padding: 0;
}
img.lara {
    vertical-align:middle;
    margin: 0 5px;
    max-width: 5vw;
    width: auto;
    padding: 0;
}
.descr {
    padding: 0;
    margin: 5px;
    display: block;
    position: relative;
    width: 100%;
    height: 17%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}
.descr-text {
    font-family: Josefin;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
}

#network {
    width: 100%;
    height: 50%;
    position: absolute;
    right: 0;
}
.netw {
    padding: 1%;
    position: absolute;
    top: -110px;
    right: 32px;
    margin: 96px 0;
    height: 96px;
    width: 96px;
    background-color: #252525;
    border-radius: 50% 50%;
    box-shadow: 0 1px 1px 0 #000000;
    -webkit-transition: 0.75s;
    transition: 0.75s;
}
.netw:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
#cp {
    height: 100%;
    border-radius: 50% 50%;
    background-image: url("images/cp.svg");
    background-color: #EDEEDC;
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
}

/* --- GH HOVER ---*/

/* Icon Forward */
.icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.icon-forward:before {
  content: "\f138";
  position: absolute;
  right: 0.5em;
  padding: 0 2px;
  font-size: 1.1em;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.icon-forward:hover:before, icon-forward:focus:before, icon-forward:active:before {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}
#gh {
    position: absolute;
    top: 16px;
    right: 16px;
    font-family: Josefin;
    font-style: normal; /*removing h1 default values*/
    font-weight: normal; /*removing h1 default values*/
    font-size:16px;
    display: inline-block;
}
header>a {
    text-decoration: none;
    color: white;
}
header>a:hover {
    color: #D7D7D7;
}


/* --- easter egg --- */

#cricri {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=95);
    -moz-opacity:0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
    z-index: 10000;
    display: none;
}
.cricri {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 320px;
    width: 225px;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
    z-index: 10000;
    display: none;
}

/* --- PRE-LOADER (cf. style.js)--- */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 3px solid transparent;
    border-top-color: #ABAAAA;
    z-index: 1500;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
	-webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: #808080;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
	-webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #565656;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #252525;
    z-index: 1000;
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transition: all 0.3s 0.3s ease-out; 
            transition: all 0.3s 0.3s ease-out;
}
.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.3s 0.6s ease-out; 
                transition: all 0.3s 0.6s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;
}

/* and in case js isn't enabled... */
.no-js #loader-wrapper {
    display: none;
}

/* now for responsiveness... */
@media all and (orientation: portrait) {
    #sites {
        width: 98%;
        height: 83%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding: 0;
        margin: 0;
        left: 0;
        bottom: 0;
    }
    #sites a {
        outline: 0;
    }
    .site {
        padding: .3em .3em .3em 0;
        border-radius: 0 .3em .3em 0;
        position: relative;
        left: 0;
        width: 65%;
        max-height: 24vh;
        margin: 0 0 .3vh 0;
        background-color: #252525;
        box-shadow: -1px 1px 1px 0 #000000;
        -webkit-transition: all 0.75s; /* Safari */
        transition: all 0.5s;
        overflow: hidden;
    }
    .site div:nth-child(2),
    .site div:nth-child(3),
    .arrow-wrap,
    .using {
        display: none;
    } 
    .site:hover {
        width: 100%;
        max-height: 24vh;
        right: 0;
    }
    .site:hover img {
        object-fit: fill;
    }
    .site:hover div:nth-child(2),
    .site:hover div:nth-child(3) {
        display: flex;
    }
    .site div.desc_box,
    .site div.toolbox {
        display: block;
        opacity: 0;
        transition: all .5s cubic-bezier(.96,-0.63,.53,.82);
    }
    .site:hover div.desc_box {
        position: absolute;
        width: 100%;
        height: auto;
        padding: 2vw;
        background-color: rgba(0,0,0,0.5);
        border-radius: 1em;
        bottom: 0;
        opacity: 1;
    }
    .site:hover div.toolbox {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        max-height: 20%;
        background-color: rgba(216,216,216,0.3);
        border-radius: 0 0 2em 0;
        padding: .25em .75em;
        opacity: 1;
    }
    .site:hover img.lang-img {
        margin: 0 5px;
        width: 20vw;
        height: auto;
        padding: 0;
    }
    .site:hover img.gsap {
        margin: 0 5px;
        width: 10vw;
        padding: 0;
    }
    .site:hover img.jq {
        margin: 10px 5px;
        width: 10vw;
        height: auto;
        padding: 0;
    }
    .site:hover img.lara {
        margin: 0 5px;
        width: 10vw;
        width: auto;
        padding: 0;
    }
    #site2, #site3 {
        margin-left: 0;
    }
    .thumbnail {
        width: auto;
        height: 100%;
        filter:alpha(opacity=90);
        -moz-opacity:0.9;
        -khtml-opacity: 0.9;
        opacity: 0.9;
        -webkit-filter: brightness(100%);
        -webkit-transition: 1.5s ease;
        -moz-transition: 1.5s ease;
        -o-transition: 1.5s ease;
        -ms-transition: 1.5s ease;
        transition: 1.5s ease;
    }
}

@media all and (max-width: 610px) {
    #fewd {
        opacity: 0;
        background-color: rgba(0,0,0,0.3);
        border-radius: .5em;
        padding: .3em;
        position: absolute;
        top: 64px;
        left: 0;
    }
}